body {
  font-family: "Segoe UI", "Lucida Grande", Tahoma, sans-serif;
  font-size: 100%;
  min-width: 200px;
  text-align: center;
}

#title {
  font-size: 20px;
}

#print-button {

}

#print-status {

}
